:root {
    --im-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    --im-color: #fff;
    --im-bg: #0b1016;

    --im-btn-color: #fff;
    --im-btn-hover-color: #fff;
    --im-btn-bg: rgba(0, 102, 219, 0.84);
    --im-btn-hover-bg: rgba(9, 80, 161, 0.89);

    --im-overlay-bg: linear-gradient(14deg, rgba(30,56,97,1) 0%, rgba(206,220,233,0.118) 100%)
}

div[data-service],
div[data-service] div,
div[data-service] span,
div[data-service] iframe,
div[data-service] a,
div[data-service] button,
div[data-service] ::before,
div[data-service] ::after{
    all: unset;
    box-sizing: border-box;
}

div[data-service] a,
div[data-service] button,
div[data-service] input{
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
    outline: revert;
    outline-offset: 2px;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
}

div[data-service]{
    font-family: var(--im-font-family);
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    max-width: 100%;
    min-height: 150px;
    min-width: 300px;
    position: relative;
    background-color: var(--im-bg);
    overflow: hidden;
}

div[data-service]::before{
    padding-top: 56.25%;
    display: block;
    content: '';
}

div[data-service] .c-ld {
    bottom: 2em;
    right: 2.5em;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity .3s ease,
                visibility .3s ease,
                transform .3s ease;
}

div[data-service] .c-ld,
div[data-service] .c-ld:after{
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

div[data-service] .c-ld::after{
    content: '';
    border: 4px solid white;
    border-top: 4px solid transparent;
    animation: spin 1s linear infinite;
}

div[data-service].c-h-n .c-ld{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div[data-autoscale]{
    height: auto;
    width: 100%;
}

div[data-service] .c-nt{
    color: var(--im-color);
    max-width: 100%;
    height: 100%;
    width: 100%;
    transition: opacity .3s ease, visibility .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

div[data-service] .c-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    z-index: 1;
    transition: opacity .3s ease,
                visibility .3s ease,
                transform .3s ease;
}

div[data-service] .c-bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgb(30,56,97);
    background: var(--im-overlay-bg);
    transition: opacity .3s ease,
                visibility .3s ease;
}

div[data-service] .c-bg-i{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s ease,
                transform .5s ease;
}

div[data-service] .c-bg-i.loaded{
    opacity: 1;
}

div[data-service] .c-tl{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

div[data-service].c-h-n .c-bg{
    opacity: 1;
    transform: scale(1);
}

div[data-service].c-h-n .c-nt{
    opacity: 0;
    visibility: hidden;
}

div[data-service] .c-n-c{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
    font-size: .9em;
    transition: background-color .3s ease,
                opacity .3s ease;
}

div[data-service] .c-n-t{
    display: block;
    font-size: .95em;
    position: relative;
    z-index: 1;
    line-height: 1.4em;
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 20px;
}

div[data-service] .c-n-t,
div[data-service] .c-n-a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
}

div[data-service] .c-t-cn{
    padding: 0 12px;
    transition: opacity .3s ease,
                transform .3s ease,
                visibility .3s ease;
}

div[data-service] .c-n-c .c-la-b,
div[data-service] .c-n-c .c-l-b{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
    position: relative;
    padding: 1em;
    background: var(--im-btn-bg);
    border-radius: 4px;
    font-size: .85em;
    color: var(--im-btn-color);
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 12px;
    transition: opacity .3s ease,
                transform .3s cubic-bezier(0.25, 1, 0.5, 1),
                visibility .3s ease,
                box-shadow .3s ease,
                background-color .3s ease;
}

/* Play icon */
div[data-service] .c-n-c .c-l-b::before{
    content: '';
    display: block;
    border-left: 12px solid var(--im-btn-color);
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

div[data-service] .c-n-c .c-la-b{
    padding: 1em;
    background: rgba(225, 239, 255, .8);
    color: #0d1f34;
}

div[data-service] .c-n-c .c-la-b:hover{
    background: rgba(225, 239, 255, .95);
}

div[data-service] .c-n-c .c-l-b:hover{
    background: var(--im-btn-hover-bg);
}

div[data-service] .c-n-c .c-la-b:active{
    transition: none;
    background: rgba(225, 239, 255, .6);
}

div[data-service] .c-n-c .c-l-b:active{
    transition: none;
    box-shadow: 0 0 0 4px rgba(24, 104, 250, .24);
}

div[data-service].c-h-n .c-t-cn{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}

div[data-service] iframe{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border: none;
    max-width: 100%;
    width: 100%;
    background: #fff;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: opacity .5s ease;
}

div[data-service].c-h-b iframe{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition-delay: .1s;
}

div[data-service] .c-n-t a {
    color: #5fb3fb;
    text-decoration: none;
    border-bottom: 1px solid #5fb3fb;
}

div[data-service] .c-n-t a:hover{
    border-color: transparent;
}

div[data-service][data-ratio="1:1"]::before{
    padding-top: 100%;
}

div[data-service][data-ratio="2:1"]::before{
    padding-top: 50%;
}

div[data-service][data-ratio="3:2"]::before{
    padding-top: 66.666666%;
}

div[data-service][data-ratio="5:2"]::before{
    padding-top: 40%;
}

div[data-service][data-ratio="4:3"]::before{
    padding-top: 75%;
}

div[data-service][data-ratio="16:9"]::before{
    padding-top: 56.25%;
}

div[data-service][data-ratio="16:10"]::before{
    padding-top: 62.5%;
}

div[data-service][data-ratio="20:9"]::before{
    padding-top: 45%;
}

div[data-service][data-ratio="21:9"]::before{
    padding-top: 42.857142%;
}

/** Vertical aspect ratios **/
div[data-service][data-ratio="9:16"]::before{
    padding-top: 177.777777%;
}

div[data-service][data-ratio="9:20"]::before{
    padding-top: 222.222222%;
}

div[data-customwidget]::before {
    display: none;
}

div[data-customwidget].c-h-b{
    background: transparent;
}

div[data-customwidget].c-h-b .c-ld{
    opacity: 0;
    visibility: hidden;
}

div[data-customwidget] > div{
    margin: 0!important;
}

div[data-customwidget]{
    vertical-align: top;
    min-width: 296px;
    transition: background-color .3s ease;
    transition-delay: .3s;
}