[data-service]{
	display: block;
}

[data-js][data-service] *,
[data-js][data-service] :before,
[data-js][data-service] :after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    font-style: inherit;
    font-variant: normal;
    font-weight: inherit;
    font-family: inherit;
	line-height: 1.2;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-transform: none;
    letter-spacing: unset;
    color: inherit;
    background: none;
    border: none;
    box-shadow: none;
    text-decoration: none;
    text-align: left;
}

[data-service] .c-ld {
	bottom: 2em;
    right: 2.5em;
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
}

[data-service] .c-ld,
[data-service] .c-ld:after{
	position: absolute;
    z-index: 1;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

[data-service] .c-ld::after{
	content: '';
	border: 4px solid white;
    border-top: 4px solid transparent;
	animation: spin 1s linear infinite;
}

[data-service].c-h-n .c-ld{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

[data-js][data-service]{
	display: inline-block;
	max-width: 100%;
	min-height: 150px;
	min-width: 300px;
	font-family: inherit;
	position: relative;
	font-size: initial;
	background-color: #0b1016;
}

[data-service] button,
[data-service] label,
[data-service] input,
[data-service] h1,
[data-service] h2,
[data-service] h3{
	transition: none;
	animation: none;
}

[data-js][data-service]::before{
	padding-top: 56.25%;
	display: block;
	content: "";
}

[data-autoscale]{
	height: auto;
	width: 100%;
}

[data-service] .c-nt{
	color: #fff;
	max-width: 100%;
	height: 100%;
	width: 100%;
	transition: opacity .3s ease, visibility .3s ease; 
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}

[data-service] .c-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	opacity: .5;
	z-index: 1;
	transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
}

[data-service] .c-bg::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	transition: opacity .3s ease, visibility .3s ease;
	background: rgb(30,56,97);
    background: linear-gradient( 14deg, rgb(12 15 23 / 95%) 10%, rgb(0 0 0 / 51%) 100%, rgba(68,77,125,0.1082983535210959) 0%);
	background: -moz-linear-gradient(14deg, rgba(30,56,97,1) 0%, rgba(206,220,233,0.1181022750897234) 100%);
	background: -webkit-linear-gradient(14deg, rgba(30,56,97,1) 0%, rgba(206,220,233,0.1181022750897234) 100%);
	background: linear-gradient(14deg, rgba(30,56,97,1) 0%, rgba(206,220,233,0.1181022750897234) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e3861",endColorstr="#cedce9",GradientType=1);
}

[data-service] .c-bg-i{
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity .5s ease, transform .5s ease;
}

[data-service] .c-bg-i.loaded{
	opacity: 1;
}

[data-service] .c-tl{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
	text-align: center;
}

[data-service].c-h-n .c-bg{
	opacity: 1;
	transform: scale(1);
}

[data-service].c-h-n .c-nt{
	opacity: 0;
	visibility: hidden;
}

[data-service] .c-n-c{
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
	margin: 0;
	font-size: .9em;
	transition: background-color .3s ease, opacity .3s ease;
}

[data-service] .c-n-t{
	display: block;
	font-size: .95em;
	position: relative;
	z-index: 1;
	line-height: 1.4em;
	color: #fff;
	max-width: 420px;
	margin: 0 auto;
	margin-bottom: 20px;
}

/* [data-service] .c-n-t, */
[data-service] .c-n-a{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 1em;
}

[data-service] .c-t-cn{
	display: table-cell;
	vertical-align: middle;
	padding: 0 12px;
	transition: opacity .3s ease, transform .3s ease, visibility .3s ease;
}

[data-service] .c-n-c .c-n-a > *{
    position: relative;
    padding: 1em;
    background: rgba(0, 102, 219, 0.84);
    border: none;
    border-radius: .25em;
    font-size: .85em;
    padding-left: 2.8em;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .3s ease, transform .3s cubic-bezier(0.25, 1, 0.5, 1), visibility .3s ease, box-shadow .3s ease, background-color .3s ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 12px;
}
/* Play icon */
[data-service] .c-n-c .c-l-b::before{
	content: '';
    display: block;
    position: absolute;
	top: 50%;
    transform: translateY(-50%);
    left: 1.1em;
    z-index: 2;
    height: 0;
    border-left: 12px solid white;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
}

[data-service] .c-n-c .c-la-b,
[data-service] .c-n-c .c-os-b{
	padding: 1em;
    background: rgba(225, 239, 255, .8);
    color: #0d1f34;
}

[data-service] .c-n-c .c-la-b:hover,
[data-service] .c-n-c .c-os-b:hover{
	background: rgba(225, 239, 255, .95);
}

[data-service] .c-n-c .c-l-b:hover{
	background: rgba(9, 80, 161, 0.89);
}

[data-service] .c-n-c .c-la-b:active{
	transition: none;
    background: rgba(225, 239, 255, .6);
}

[data-service] .c-n-c .c-l-b:active{
	transition: none;
    box-shadow: 0 0 0 4px rgba(24, 104, 250, .24);
}

[data-service].c-h-n .c-t-cn{
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
}

[data-service] iframe{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
	border: none;
	max-width: 100%;
	width: 100%;
	background: #fff;
	display: block;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	transition: opacity .5s ease;
}

[data-service].c-h-b iframe{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition-delay: .1s;
}

[data-service] .c-n-t a {
    color: #5fb3fb;
    text-decoration: none;
    border-bottom: 1px solid #5fb3fb;
}

[data-service] .c-n-t a:hover{
	border-color: transparent;
}

[data-js][data-service][data-ratio="1:1"]::before{
	padding-top: 100%;
}

[data-js][data-service][data-ratio="2:1"]::before{
	padding-top: 50%;
}

[data-js][data-service][data-ratio="3:2"]::before{
	padding-top: 66.666666%;
}

[data-js][data-service][data-ratio="5:2"]::before{
	padding-top: 40%;
}

[data-js][data-service][data-ratio="4:3"]::before{
	padding-top: 75%;
}

[data-js][data-service][data-ratio="16:9"]::before{
	padding-top: 56.25%;
}

[data-js][data-service][data-ratio="16:10"]::before{
	padding-top: 62.5%;
}

[data-js][data-service][data-ratio="20:9"]::before{
	padding-top: 45%;
}

[data-js][data-service][data-ratio="21:9"]::before{
	padding-top: 42.857142%;
}

/** Vertical aspect ratios **/
[data-js][data-service][data-ratio="9:16"]::before{
	padding-top: 177.777777%;
}

[data-js][data-service][data-ratio="9:20"]::before{
	padding-top: 222.222222%;
}

[data-js][data-customwidget]::before {
	display: none;
}

[data-js][data-customwidget].c-h-b{
	background: transparent;
}

[data-js][data-customwidget].c-h-b .c-ld{
	opacity: 0;
	visibility: hidden;
}

[data-js][data-customwidget] > div{
	margin: 0!important;
}

[data-js][data-customwidget]{
	vertical-align: top;
	min-width: 296px;
	transition: background-color .3s ease;
	transition-delay: .3s;
}

[data-service="twitter"] .c-n-c .c-l-b{
	background-color: #1DA1F2;
}

[data-service="twitter"] .c-n-c .c-l-b::before{
	border: none;
	height: 15px;
	width: 15px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAATZJREFUOE+lk78rRWEcxj/PJhmUMhhkkMEgGyZSlCR27qRYFItRXWVQJsVm8A8w3GSQUpTcYlCUzXAzKPEnPHp1zunc0znXkW+9y/s+30/P98cr/hkqk2+7E1gA2oG6pIeQZ3v6B2B7T9JmHsz2LHAA9KXeq8AUsCTbE8AVcAGsS3pJg2zXgLkM/Bm4BL7SgKB5B3aBm5RNF5RZlbQdl3AHjGSET8AtsFIAGJVUDw76gS0gwCplmhppuiR9xg7OgZk/JDck9QZ9DJgEdoCxkpCapPk0YBA4jJJ7gIFfQOOSrhNAtAvLwFEJB/uSNmJd0ybaDk5CGWvAcA7sMeyEpEYTwHY3EJqyCCT0DOAUWJX0kb4PYwzzD3tQFCfAsaSzPEFSgu0OYCg6bcAb8CrpvlVfSv3GVoBvLzlh7eQqydQAAAAASUVORK5CYII=')
}

.fb_iframe_widget_fluid span{
	width: 100%!important;
}